div {
	width: 960px;
	height: 700px;
	padding: 0;
	background-color: aqua;
	border-radius: 2%;
	border: 20px groove #cbbe80;
	background-image: url(../13.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}